<% include partials/header %>
<h1>Create a new Form</h1>
<form>
	<input type="text" placeholder="title"></input>
	<input type="text" placeholder="image"></input>
	<textarea placeholder="body"></textarea>
	<input type="submit"></input>
</form>
<% include partials/footer %>